main {
    display: flex;
    justify-content: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 5rem 1.25rem;
}

.mainInfo {
    flex: 1;

}

.aboutInfo {
    flex: 1;
}

svg {
    fill: #555;
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

a:hover svg {
    fill: lightgray;
    transform: scale(1.05);
}

.icon {
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}

svg path {
    fill: lightgray;
    stroke: none;
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

a:hover svg path {
    transform: scale(1.05);
    fill: url(#gradient);
}

@media (0px <=width <=768px) {
    main {
        display: block;
        max-width: 75rem;
        margin: 0 auto;
        padding: 3rem 1.25rem;
    }
}