<section id="contact">
    <div class="mWrapper">
        <h3>Let's connect. Reach out, and I'll get back to you soon.</h3>
    </div>
    <div class="formWrapper">  
        <fieldset>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
                    <label for="message">Please set a message</label>
                    <textarea type="text" class="message" id="message" formControlName="message"></textarea>
                        @if (form.controls['message'].touched) {
                            @if (form.controls['message'].getError('required')) {
                                <small>A message is required</small>
                            }
                            @if (form.controls['message'].getError('minlength')) {
                                <small>Min 8 characteres</small>
                            }
                            @if (form.controls['message'].getError('maxlength')) {
                                <small>Max 256 characters</small>
                            }
                        }    
                <button type="submit">Submit</button>           
            </form>
        </fieldset>
    </div> 

</section>