<div class="wrapper">
    <div class="imgWrapper">
        <img [src]="project().img" alt="viewport-view">
    </div>
    <div class="textWrapper">
        <h3>{{project().title}}</h3><br>
        {{project().description}}

        <div class="buttonWrapper">
            @if (project().codeLink) {
            <button (click)="redirectToLink(project().codeLink)">Code</button>
            }

            @if (project().visualLink) {
            <button (click)="redirectToLink(project().visualLink)">More</button>
            }
        </div>
    </div>
</div>